<div class="card bg-light">
    <div class="card-body bg-info">
        <h4>
            This project contains more advanced topics such as:
        </h4>
        <ul>
            <li>components: headless & compound</li>
            <li>ng-container, ngTemplateOutlet, NgForTemplate ...</li>
            <li>Lifecycle hooks np. OnChanges, AfterContentInit, ngDoCheck ...</li>
            <li>Services: ViewContainerRef, TemplateRef, IterableDiffers ...</li>
            <li>Custom form fields: Angular Form Api</li>
        </ul>
    </div>
</div>
