<div class="card bg-light">
  <div class="card-body bg-info">
    <h2>Custom-form-field example</h2>
    <h4>interface: ControlValueAccessor</h4>
  </div>
</div>

<br>
<div class="card bg-light">
  <div class="card-header">
    Form example
  </div>
  <div class="row card-body">
    <form [formGroup]='form' class="col-6">
      <label>
        username (normal form control)
        <input type="text" class="form-control" formControlName='username'>
      </label>
      <hr>
      <label>
        myselect (custom form control)
        <app-my-select [controls]='[1,2,3,4]' formControlName='myselect'></app-my-select>
      </label>
    </form>
    <div class="col-6">
      <pre><b>form value: {{form.value | json}}</b></pre>
    </div>
  </div>
</div>
