<ul class='list-inline'>
  @for (control of controls(); track control) {
    <li class='btn btn-info m-1'
      [class.selected]='value == control'
      (click)='change(control)'>
      {{control}}
    </li>
  }
</ul>
