.hide {
  display: none;
}

.active {
  border-color: black;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #eaeaea;
  user-select: none;
}

.content {
  padding: 20px 5px;
}
