<div class="container-fluid">

    <ul class="nav nav-pills mt-3">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="home">home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="adv-components">adv components</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="custom-form">custom form field</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="custom-directives">custom directives</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="composables">composables</a>
        </li>
    </ul>

    <hr>
    <div>
        <router-outlet></router-outlet>
    </div>

    <course-footer courses></course-footer>

</div>
