<div class="box">
    <div class="card bg-info">
        <div class="card-body">
            <h2>Custom directives: ngIf and ngFor</h2>
            <h4>lifecycle ngDoCheck and service IterableDiffer</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">custom for directive</div>
                <div class="card-body">
                    <form #addForm="ngForm" class="form-inline">
                        <div class="input-group mb-3">
                        <input required type="text" class="form-control" ngModel name="name" placeholder="name">
                        <input required type="text" class="form-control" ngModel name="age" placeholder="age">
                        <button class="btn btn-secondary" [disabled]="!addForm.valid"
                            (click)="add(addForm)">Add</button>
                            </div>
                    </form>
                    <ul>
                        <li *customRepeater="let p of people" class="mb-1">
                            {{ p.name }} is {{ p.age }}
                            <button class="btn btn-danger" (click)="remove(p)">Remove</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">custom if directive</div>
                <div class="card-body">
                    <button class="btn btn-secondary" (click)="toggle()">
                        show / hide
                    </button>
                    <br>
                    <!-- * syntax is sugar for the actual template markup-->
                    <div *customIfDirective="access" class="card-panel teal text-darken-1">
                        content is displayed
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
