<div class="box">

    <div class="card bg-info">
        <div class="card-body">
            <h2>Components examples</h2>
            <h4>
                Headless & compound reusable components
            </h4>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Compound component</div>
        <div class="card-body">
            <app-country [countries]="countries">
                <div>
                    <app-country-selected></app-country-selected>
                    <app-country-flag></app-country-flag>
                </div>
            </app-country>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Pass component (row)(by input) to component data-grid-type1</div>
        <div class="row card-body">
            @for( type of ['dark', 'light'];track type) {
            <div class="col-6">
                <div>Row type {{type}}</div>
                <div class="card card-body">
                    <app-data-grid-type1 [data]="gridData" [rowType]="type"></app-data-grid-type1>
                </div>
            </div>
            }
        </div>
    </div>

    <div class='card'>
        <div class="card-header">Pass template (column)(by input) to component data-grid-type2</div>
        <div class="card-body">
            <ng-template #columnTemplate let-data>
                <button class="btn btn-warning me-2" (click)="remove(data)">remove</button>
                <button class="btn btn-warning" (click)="navigate(data)">more</button>
            </ng-template>
            <app-datagrid-type2 [data]="gridData" [config]="gridConfig" [actionsTpl]='columnTemplate'>
            </app-datagrid-type2>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Headless Component.
            Pass template by directive (row)(by content) to component data-grid-type3.
            <br>
            Wykorzystanie danych komponentu w parencie: exportAs
        </div>
        <div class="card-body">
            selected row: {{g3.selected|| 'not selected'}}
            <data-grid-type3 #g3="grid3" [data]="gridData" [head]="['title', 'id', 'action']">
                <tr [id]="item.id" *passTemplate="let item">
                    <td>{{item.title}}</td>
                    <td>{{item.id}}</td>
                    <td><button (click)="navigate(item)" class="btn btn-danger">go</button></td>
                </tr>
            </data-grid-type3>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Headless Component. Pass template by directive (row) to component
            data-grid-type3</div>
        <div class="card-body">
            <app-tabset>
                @for (tab of tabs; track tab) {
                <app-tab [title]="tab.title">
                    <div [innerHTML]="tab.content"></div>
                </app-tab>
                }
                <app-tab [title]="'Another tab'">
                    <img src="/assets/admin.png" width="70" style="float: left; margin-right: 10px;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolore ducimus eveniet, facere,
                    inventore
                    ipsum iste iusto magni minima mollitia nam non officia porro praesentium quibusdam quisquam ratione
                    veritatis voluptatibus.ur adipisicing elit. Aut dolore ducimus eveniet, facere, inventore
                    ipsum iste iusto magni minima mollitia nam non officia porro praesentium quibusdam quisquam ratione
                    veritatis voluptatibus.ur adipisicing elit. Aut dolore ducimus eveniet, facere, inventore
                    ipsum iste iusto magni minima mollitia nam non officia porro praesentium quibusdam quisquam ratione
                    veritatis voluptatibus.ur adipisicing elit. Aut dolore ducimus eveniet, facere, inventore
                    ipsum iste iusto magni minima mollitia nam non officia porro praesentium quibusdam quisquam ratione
                    veritatis voluptatibus.
                </app-tab>
            </app-tabset>
        </div>
    </div>

</div>
